.. raw:: pdf

   Spacer 0 111mm

.. list-table::
   :class: cover-table

   * - .. class:: title

       #{title}

     - .. class:: subtitle 
     
       #{subtitle}


.. list-table::
   :class: cover-version-table

   * -
     - .. class:: cover-version 
     
       V#{version}

     - .. class:: cover-date 
     
       |date|

.. |date| date:: %d.%m.%Y

.. raw:: pdf

   PageBreak oneColumn
      